.btn{
    height: 60px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #ed1b265e;
    font-size: 15px;
    outline: none;
    transition: transform 0.5s ease;
}

.btn:hover{
    border-color:red;
    cursor: pointer;

    transform: scale(1.1);
}

.btn:active{
    background-color: red;
    color: rgb(12, 0, 33);
    font-weight: 900;
}