.inputLabel{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: 90px;
}

.inptLbl{
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.114);
    border-radius: 10px;
    text-indent: 20px;
    font-size: 15px;
    transition: border-color 0.5s ease;
}

.inptLbl:focus{
    border-color: rgba(255, 0, 0, 0.263);
}

.showPass{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.showPass:hover{
    scale: 1.1;
}