.modalUserBg{
    display: flex;
    position: fixed;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.745);
    justify-content: center;
    align-items: center;
    z-index: 1009;
    transition: opacity 0.3s ease;
}

.modalUser{
    position: relative;
    height: 200px;
    width: 600px;
    background-color: #0D0120;
    border-radius: 20px;
    padding: 20px;
}

.modalUserHeader{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    height: 60%;
    width: 100%;
}

.modalUserBody{
    position: relative;
    height: 10%;
    padding: 10px;
}

.userIco{
    height: 100%;
    width: 120px;
    border-radius: 50%;
    border: 4px solid rgb(255, 0, 93);
    background-image: url('../../../../assets/svgs/userPurpleIco.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}

.modalUserInput{
    height: 70px;
    border: none;
    outline: none;
    width: 250px;
    background-color: transparent;
    background-image: url('../../../../assets/svgs/pencil_edit_input.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.262);
}

.saveInfoBtn{
    position: absolute;
    right: 0px;
    bottom: -40px;
    height: 50px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    background: transparent;
    border: 2px solid rgba(0, 242, 255, 0.437);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.saveInfoBtn:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid rgb(0, 255, 204);
}

.saveInfoBtn:active{
    background-color: aquamarine;
    color: black;
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

.visible{
    opacity: 1;
    pointer-events: all;
}
