.userSideBar{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000000af;
    border-left: 2px solid white;
    position: fixed;
    right: 0;
    height: 100%;
    width: 300px;
    z-index: 999;
    transition: right 0.5s ease;
}

.pushUserSideBarBtn{
    display: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgb(255, 0, 98);
    border: none;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
}

.userSdBarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.366);
}

.userFriendsDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}

@media (max-width: 1250px) {
    .userSideBar {
        padding: 0px;
        right: -280px;
    }

    .userSideBar.opened {
        right: 0;
    }

    .userSideBar.closed {
        right: -280px;
    }

    .pushUserSideBarBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userSdBarHeader{
        position: relative;
        flex-shrink: 0;
    }

}

.userSideBar.opened .pushUserSideBarBtn {
    transform: rotate(180deg);
}
