.aUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 160px;
    flex-shrink: 0;
}

.userImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url('../../../../assets//svgs/circle.svg');
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
}

.addFriend{
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: bolder;
    background: transparent;
    border: 4px solid rgba(0, 242, 255, 0.437);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.addFriend:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 4px solid rgb(0, 255, 204);
}

.addFriend:active{
    background-color: aquamarine;
    color: black;
}