.bodyMessages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    overflow-y: hidden;
}

.chatDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
    height: 100%;
    width: 60%;
}

.chatHeader{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.chatBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    overflow-y: auto;
}

.chatMain{
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    height: 90%;
    width: 92%;
}

.sendMessageDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100px;
    width: 100%;
}

.sendMessageInpt{
    height: 50px;
    width: 80%;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    text-indent: 30px;
    font-size: 15px;
    background-position: 97%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url('../../assets/svgs/paper-plane.svg');
}

.profileFriend{
    height: 70px;
    width: 70px;
    border: 2px solid #00ff8c;
    border-radius: 50%;
    margin-left: 25px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/svgs/user.svg');
}

.sendBtn{
    height: 55px;
    width: 100px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(255, 0, 98);
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.sendBtn:hover{
    background-color: rgb(255, 0, 98);
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}

.sendBtn:active{
    background: transparent;
    color: white;
}

@media (max-width: 963px) {
    .chatDiv{
        width: 80%;
        height: 75%;
    }
}