.comm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 160px;
    flex-shrink: 0;
}

.commImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url('../../../../assets//svgs/hexagon.svg');
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
}

.enterComm{
    height: 50px;
    width: 90px;
    background: transparent;
    border: 4px solid rgba(255, 162, 0, 0.437);
    border-radius: 5px;
    transition: transform 0.5s ease;
    font-weight: bold;
}

.enterComm:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 4px solid rgb(229, 255, 0);
}

.enterComm:active{
    background-color: yellow;
    color: black;
}